<!--
<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-cyan-400 via-blue-500 to-indigo-500">
    <div class="bg-white rounded-lg shadow-2xl p-8 max-w-md w-full transform hover:scale-105 transition-transform duration-400">
      <h1 class="text-3xl font-bold text-gray-800 mb-4 text-center">Review</h1>
      <p class="text-blue-600 mb-6 text-center">
        COMEX CARE
      </p>
      <button class="w-full bg-blue-500 text-white py-2 px-4 rounded-md hover:bg-blue-600 transition-colors duration-300">
        Iniciar
      </button>
    </div>
  </div>
-->

<!-- Loading Overlay -->
<div *ngIf="isLoading" class="fixed inset-0 bg-black bg-opacity-50 z-50 flex items-center justify-center">
  <mat-spinner [diameter]="50" class="text-white"></mat-spinner>
</div>

<!-- Main container -->
<div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-cyan-400 via-blue-500 to-indigo-500 pt-[2.5rem] pb-[2.5rem]">
  <div class="bg-white rounded-lg shadow-2xl p-8 max-w-6xl w-full">
    <!-- Main Title with decorative elements -->
    <div class="relative pb-8 mb-6 border-b border-gray-200">
      <h1 class="text-4xl font-bold text-transparent bg-clip-text bg-gradient-to-r from-blue-600 to-indigo-600 text-center">
        Vales
      </h1>
      <div class="absolute bottom-0 left-1/2 transform -translate-x-1/2 w-24 h-1 bg-gradient-to-r from-blue-500 to-indigo-500 rounded-full"></div>
    </div>

    <!-- State Selector -->
    <div class="flex justify-start mb-8">
      <div class="relative inline-block w-64">
        <select 
          [(ngModel)]="selectedStateId"
          (change)="onStateChange($event)"
          class="block appearance-none w-full bg-white border border-gray-300 hover:border-gray-400 px-4 py-2 pr-8 rounded-lg shadow-sm focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500 text-gray-700">
          <option *ngFor="let state of states" [value]="state.id">{{state.name}}</option>
        </select>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/>
          </svg>
        </div>
      </div>
    </div>
    

    <!-- General Section -->
    <div class="mb-12">
      <div class="flex items-center mb-6">
        <div class="flex-shrink-0 w-1.5 h-8 bg-blue-500 rounded-r mr-4"></div>
        <h2 class="text-2xl font-bold text-gray-800">General</h2>
      </div>
      <app-pie-chart chartId="Descargados"></app-pie-chart>
    </div>

    <!-- Table Section -->
    <div class="mb-12">
      <app-vales-state-table/>
    </div>

    <!-- Store Section -->
    <div class="mb-8">
      <div class="flex items-center mb-6">
        <div class="flex-shrink-0 w-1.5 h-8 bg-indigo-500 rounded-r mr-4"></div>
        <h2 class="text-2xl font-bold text-gray-800">Vales por sucursal</h2>
      </div>
      <app-store-states-table/>
    </div>
  </div>
</div>
