<!-- <div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-purple-400 via-pink-500 to-red-500"> -->
  <div class="min-h-screen flex items-center justify-center bg-gradient-to-r from-cyan-400 via-blue-500 to-indigo-500">
    <div class="bg-white rounded-lg shadow-2xl p-8 max-w-4xl w-full transform hover:scale-105 transition-transform duration-400">
      <h1 class="text-3xl font-bold text-gray-800 mb-4 text-center">Principal</h1>
      <p class="text-blue-600 mb-6 text-center">COMEX CARE</p>
  
      <!-- Use the records-status component -->
      <app-status-records></app-status-records>
    </div>
  </div>


  